<% if @piloto_ok.present? %>
    
   $("<div class='col-sm-12' id='msg-editar-piloto' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-piloto");
   
  $("#form_buscar_pilotos_id").val('<%= @piloto.id %>');
  $("#form_buscar_pilotos_nombres").val('');
  $("#form_buscar_pilotos_apellidos").val('');
  $("#form_buscar_pilotos_direccion").val('');
  $("#form_buscar_pilotos_telefono").val('');
  
  $("#<%= params[:window_id]%>").modal('hide'); 
  setTimeout(function(){ 
  	swal("Piloto actualizado Exitosamente.");	
  }, 1000);
  
  $("#form-buscar-pilotos").submit();

<% else %>

  $("<div class='col-sm-12' id='msg-editar-piloto' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-editar-piloto");

<% end %>
