<% if @guardado_ok == true %>
 
  $("#<%= params[:window_id]%>").modal('hide');
  $("#form_buscar_cuotas_id").val('<%=@cuota.id%>');
  $("#form_buscar_cuotas_fecha").val('');
  $("#form_buscar_cuotas_mes_periodo_id").val('');
  $("#form_buscar_cuotas_periodo_escolar_id").val('');
  $("#form_buscar_cuotas_sucursal_id").val('');
  $("#form_buscar_cuotas_nivel_id").val('');
  $("#form_buscar_cuotas_sala_id").val('');
  $("#form_buscar_cuotas_total_cuotas").val('');
  $("#form_buscar_cuotas_total_cobradas").val('');

  setTimeout( function(){ 
 
    swal("Cuotas","Cuotas generadas exitosamente!", "success");

    }, 1000);

 	$("#form-buscar-pagos-cuotas").submit();

<% else %>
	
	$("<div class='col-sm-12' id='msg-guardar-pago-cuota' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-agregar-pago-cuota");
 	
  setTimeout( function(){ 

    swal("Cuotas", "Error al Generar las cuotas. <%=@msg%>","error");

  }, 1000);

<% end %>