<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3>Monigote Informa.</h3>
    <p>
      <p><bold> <%= @texto_principal%> </bold> </p>
    
     <br />
      
      <p>Mensaje: <%=@subject%></p>

      <p><%=@objeto_id%></p>

      </p> <br />

      <b> </b><br />
    </p>

    <p>
      Puede contactar al 0985123123<br /> 
    </p>
    
  </body>

</html>