<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   <%=@objeto_id%></p>
  </head>
  <body>
  <h3>Monigote Informa.</h3>
    <p>
      <p><bold> <%= @texto_principal%> </bold> </p>
    
     <br />

     

  

     <br />
    </p>
  
    <p>
      Ante cualquier duda contactá con nuestro servicio de Atención al Cliente
      en el Teléfono: 0981234234 o a la dirección de email:monigote@gmail.com.py<br /> 
    </p>
    
  </body>

</html>