<% if @matriculacion_ok %>

   $("<div class='col-sm-12' id='msg-agregar-matriculacion' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-matriculacion");
   
  $("#form_buscar_matriculaciones_id").val('<%= @matriculacion.id %>');
  $("#form_buscar_matriculaciones_periodo_id").val('');
  $("#form_buscar_matriculaciones_nivel_id").val('');
  $("#form_buscar_matriculaciones_sala_id").val('');
  $("#form_buscar_matriculaciones_estado_matriculacion_id").val('');
  
  swal("Guardado Exitosamente.")
  
  setTimeout(function(){ 

  	$("#<%= params[:window_id]%>").modal('hide'); 
  	$("#form-buscar-matriculaciones").submit(); 

  }, 1500);


<% else %>

   $("<div class='col-sm-12' id='msg-agregar-matriculacion' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-agregar-matriculacion");
   
   setTimeout(function(){ 
   
   swal("<%=@msg%>")

  }, 1500);

   

<% end %>
